[submodule "vendors/MUSE"]
	path = vendors/MUSE
	url = git@github.com:sedflix/MUSE.git
[submodule "vendors/LASER"]
	path = vendors/LASER
	url = git@github.com:sedflix/LASER.git
[submodule "vendors/UnsupervisedMT"]
	path = vendors/UnsupervisedMT
	url = git@github.com:sedflix/UnsupervisedMT.git
[submodule "vendors/XLM"]
	path = vendors/XLM
	url = git@github.com:sedlfix/XLM.git
[submodule "vendors/language-models"]
	path = vendors/language-models
	url = git@github.com:pbloem/language-models.git
[submodule "vendors/language-models/SentEval"]
	path = vendors/language-models/SentEval
	url = git@github.com:facebookresearch/SentEval.git
